body, ul, li{
  margin:0;
  list-style:none;
  padding:0;
}
a{
  text-decoration:none;
  color:inherit;
}

.wrap{
background : bisque;

}
.logo{
background: orange;
}

.content-wrap{
display:flex;
}

.side-menu{
width:10%;
background: yellow;
height : 800px;
text-align : center;
}

.content{
width:90%;
background: green;
height:800px;
}